
body{
    padding:20px;
    font-family: 'Noto Sans JP', sans-serif;    
}

.print{
    display:none;
}

.no-print{
    display:block;
}

header{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

header h1, header h2, header h3{
    margin-top:0;
    margin-bottom:10px;
}

header div{
    padding:20px 0 20px 0;
}

header div:nth-of-type(1) {
    grid-column: 1 / 2;
    grid-row: 1;
    text-align:center;
    border-bottom:solid 15px #3498db;
}


header div:nth-of-type(1) img{
    width:50%;
    max-width: 200px;
}


header div:nth-of-type(2) {
    grid-column: 2 / 4;
    grid-row: 1;
    border-bottom:solid 15px #3498db;
}

header div:nth-of-type(3) {
    grid-column: 4 / 6;
    grid-row: 1;
    border-top:solid 15px #3498db;
}


header div:nth-of-type(3) ul{
    list-style:none;
    font-size:20px;
    vertical-align: middle;
}

header div:nth-of-type(3) ul li{
    padding-top: 5px;
}

header div:nth-of-type(4){
    grid-column: 1 / 5;
    grid-row: 2;

}


#competences h2{
    width:50%;
    margin-left:25%;
    text-align: center;
}

#nuage_mots{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10%;
}

#nuage_mots span{
    padding:0 5%;    
}

@media print{
    
    .print{
        display:block;
    }

    .no-print{
        display:none;
    }
    
    header div:nth-of-type(3) ul{    
        font-size:15px;
    }   
    body{
        width:21cm;
        height:29.7cm;
    }

    #nuage_mots{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 0;
        font-size:10px !important;
    }

    #nuage_mots span{
        max-height: 50px;
    }
 
}
