body{
    background: linear-gradient(145deg,#130f40,#2c3e50,#1e3799,#6a89cc);
    color :white; 
    font-family: 'Open Sans', sans-serif;
}

#border{
    position:fixed;
    height:15%;
    width:15%;
    top:10px;
    left:10px;
    border-left:1px solid white;
    border-top:solid 1px white;
}

#border2{
    position:fixed;
    height:15%;
    width:15%;
    bottom:10px;
    right:10px;
    border-right:1px solid white;
    border-bottom:solid 1px white;
}

.container{
    background-color: rgba(0,0,0,0);
}

#loadingScreen{
    position:absolute;
    width:50%;
    margin-left:25%;
    margin-top:25vh;
    height:50vh;
    padding:12.5vh;
    z-index:1;
}


/*LABEL BARRE DE CHARGEMENT */
#labelLoadingBar{
    font-weight: bolder;
    min-width: 25px;
    margin-bottom:20px;
    color:white;
    animation-name: fadeWhiteToBlack;
    animation-duration: 5s;
    animation-iteration-count: 1;
    opacity:0;
}

@keyframes fadeWhiteToBlack {
    0% {
        opacity:1;
    }
  
    95%{
        opacity:1;
    }

    100% {
        opacity:0;
    }
  }

#labelLoadingBar + span{
    width:50px;
}

#labelLoadingBar + span::after{
    content: "terminé !";
    animation-name: changeSubStatusLoading;
    animation-duration: 6s;
    animation-iteration-count: 1;
    opacity:0;
}

@keyframes changeSubStatusLoading {
    0% {
        content: "expériences...";
        opacity:1;
    }
  
    20% {
        content:"écoles...";
    }

    40% {
        content:"compétences...";
    }

    60% {
        content:"loisirs...";
    }

    80% {
        content:"objectifs...";
    }

    95%{
        opacity:1;
    }

    100%{
        content:"terminé ! ";
        opacity:0;
    }
  }


/*BARRE DE CHARGEMENT */

#loadingBar{
    width:50%;
    margin-top: 25px;
    margin-left:25%;
    height:20px;
    background-color: black;
    border: white 2px solid;
    border-radius:5px;
    background: linear-gradient(145deg,#130f40,#2c3e50,#1e3799,#6a89cc);
    animation-duration: 5s;
    animation-name: loadingBarAnimation;
    animation-iteration-count: 1;
    opacity:0;
}

@keyframes loadingBarAnimation {

    0%{
        opacity:1;
    }

    95%{
        opacity:1;
    }

    100%{
        opacity:0;
    }
}

#loadingBar div{
    margin-left:100%;
    width:0%;
    height:16px;
    background-color: white;
    animation-duration: 5s;
    animation-name: loadingBarProgression;
    animation-iteration-count: 1;
}


@keyframes loadingBarProgression {
    0% {
        width:100%;
        margin-left:calc(0% + 1px);

    }

    20%{
        width:95%;
        margin-left:calc(5% + 1px);
    }

    40%{
        width:60%;
        margin-left:calc(40% + 1px);
    }

    50%{
        width:55%;
        margin-left:calc(45% + 1px);
    }

    75%{
        width:45%;
        margin-left:calc(55% + 1px);
    }

    90%{
        width:20%;
        margin-left:calc(80% + 1px);
    }

    100%{
        width:0%;
        margin-left:calc(100% + 1px);
    }
}

#blurContent{
    animation-duration: 6s;
    animation-name: fadeBlurGeneral;
    filter:blur(0px);
    height:100vh;
}

#blurContent .row:nth-of-type(1){
    height:25vh;
}


#blurContent .row:nth-of-type(2){
    height:calc(75vh - 100px);
}


@keyframes fadeBlurGeneral {
    0%{
        filter:blur(5px);
    }

    99%{
        filter:blur(5px);
    }

    100%{
        filter:blur(0px);
    }
}

/*title*/

h1{
    font-weight: 800;
}

h1 + h2{
    font-size:1.5em;
    width:50%;
}

section{
    display:none;
}

.section-display{
    display:block;
}

.textSection{
    overflow-y: scroll;
    position:absolute;
    height:calc(75% - 20px);
    width:calc(100% - 20px);
    padding:10px;
}

/***************************************/
/*MENU*/

#menu{
    position:fixed;
    left: 15px;
    bottom: 20px;
    right:15px;
}

#menu .btn{
    width:calc((100% - 30px) / 6 );
}

#menu .btn {
    color: white;
    padding: 0.7em calc(0.7em * 1.2);
    display: inline-block;
    border: 3px solid transparent;
    position: relative;
    font-size: 1.5em;
    cursor: pointer;
    letter-spacing: 0.07em;
    font-family: 'Open Sans', sans-serif;
  }
  #menu .btn .text {
    transform: translate3d(0, 0.7em, 0);
    display: block;
    transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  }
  #menu .btn:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: calc(0.7em * 1.2);
    right: calc(0.7em * 1.2);
    height: 3px;
    background: white;
    transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
    transform-origin: left;
  }
  #menu .line {
    position: absolute;
    background: white;
  }
  #menu .line.-right, #menu .line.-left {
    width: 3px;
    bottom: -3px;
    top: -3px;
    transform: scale3d(1, 0, 1);
  }
  #menu .line.-top, #menu .line.-bottom {
    height: 3px;
    left: -3px;
    right: -3px;
    transform: scale3d(0, 1, 1);
  }
  #menu .line.-right {
    right: -3px;
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
    transform-origin: top;
  }
  #menu .line.-top {
    top: -3px;
    transition: transform 0.08s linear 0.43s;
    transform-origin: left;
  }
  #menu .line.-left {
    left: -3px;
    transition: transform 0.08s linear 0.51s;
    transform-origin: bottom;
  }
  #menu .line.-bottom {
    bottom: -3px;
    transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
    transform-origin: right;
  }
  #menu .btn:hover .text,
  #menu .btn:active .text {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  }
  #menu .btn:hover:after,
  #menu .btn:active:after {
    transform: scale3d(0, 1, 1);
    right: -3px;
    left: -3px;
    transform-origin: right;
    transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
  }
  #menu .btn:hover .line,
  #menu .btn:active .line {
    transform: scale3d(1, 1, 1);
  }
  #menu .btn:hover .line.-right,
  #menu .btn:active .line.-right {
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    transform-origin: bottom;
  }
  #menu .btn:hover .line.-top,
  #menu .btn:active .line.-top {
    transition: transform 0.08s linear 0.4s;
    transform-origin: right;
  }
  #menu .btn:hover .line.-left,
  #menu .btn:active .line.-left {
    transition: transform 0.08s linear 0.48s;
    transform-origin: top;
  }
  #menu .btn:hover .line.-bottom,
  #menu .btn:active .line.-bottom {
    transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    transform-origin: left;
  }

/*************************************/
/*CUBE*/


.scene {
    width: 300px;
    height: 300px;
    perspective: 600px;
    margin-top:calc(50% - 150px);
    margin-left:calc(50% - 150px);
}
  
  .cube {
    width: 300px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(150px);
    transition: transform 1s;
  }
  
  .cube.show-front  { transform: translateZ(-150px) rotateY(   0deg); }
  .cube.show-right  { transform: translateZ(-150px) rotateY( -90deg); }
  .cube.show-back   { transform: translateZ(-150px) rotateY(-180deg); }
  .cube.show-left   { transform: translateZ(-150px) rotateY(  90deg); }
  .cube.show-top    { transform: translateZ(-150px) rotateX( -90deg); }
  .cube.show-bottom { transform: translateZ(-150px) rotateX(  90deg); }
  
  .cube__face {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    line-height: 300px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  
    
  .cube__face img {
    width:100%;
    height:auto;
    vertical-align: inherit;
  }

  
  .cube__face--front  { transform: rotateY(  0deg) translateZ(150px); }
  .cube__face--right  { transform: rotateY( 90deg) translateZ(150px); }
  .cube__face--back   { transform: rotateY(180deg) translateZ(150px); }
  .cube__face--left   { transform: rotateY(-90deg) translateZ(150px); }
  .cube__face--top    { transform: rotateX( 90deg) translateZ(150px); }
  .cube__face--bottom { transform: rotateX(-90deg) translateZ(150px); }
  
  label { margin-right: 10px; }

  /*Scrollbar*/

.textSection::-webkit-scrollbar {
    width: 20px;
    background-color: rgba(0,0,0,0); 
  }
.textSection::-webkit-scrollbar-thumb {
    background: white;
    border-radius:10px;
  }